.header{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size-20);
    color: var(--color-white);
    &__title{
        width: 80%;
        margin-bottom: var(--size-16);
    }
    &__search{
        width: 80%;
    }
}
.content {
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--size-40) var(--size-20);
    background: var(--color-grey);
    color: var(--color-white);
    border-top-left-radius: var(--size-20);
    border-top-right-radius: var(--size-20);
    overflow-y: scroll;
    &__film{
        width: 100%;
        height: 150px;
        background: var(--color-white);
        color: var(--color-marine);
        border-radius: var(--size-10);
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        padding: var(--size-16);
        margin: var(--size-10);
        &__img{
            flex: 1;
            margin-right: 10px;
            height: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        &__data{
            flex: 4;
            &__title{
                font-weight: 600;
            }
            &__crawl{
                font-size: var(--size-12);
                overflow: scroll;
                //animation: crawl 60s linear;
            }
        }
    }
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}