<div class="header">
    <div class="header__title">
        {{translate.translate("TITLE")}}
    </div>
    <div class="header__search">
        <input type="search" name="search" placeholder="{{translate.translate('SEARCH')}}" #search
            (keyup)="searchFilm(search.value)">
    </div>
</div>
<div class="content" *ngIf="films.length > 0">
    <div class="content__film" *ngFor="let film of films">
        <div class="content__film__img">
            <img src="../../../assets/images/{{film.episode}}.png" alt="">
        </div>
        <div class="content__film__data">
            <div class="content__film__data__title">
                {{film.name}}
            </div>
            <div class="content__film__data__director">
                {{translate.translate("DIRECTOR")}}: {{film.director}}
            </div>
            <div class="content__film__data__episode">
                {{translate.translate("EPISODE")}}: {{film.episode}}
            </div>
            <div class="content__film__data__crawl">
                <div class="content__film__data__crawl__text">
                    {{film.opening_crawl}}
                </div>
            </div>
            <div class="content__film__data__btn" (click)="goCharacter(film)">
                {{translate.translate("CHARACTERS")}}
            </div>
        </div>
    </div>
</div>
 
<div class="content" id="filmsNone" *ngIf="films.length == 0">
    {{translate.translate("NOFOUND")}}
</div>