
.header{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size-20);
    color: var(--color-white);
    &__title{
        width: 80%;
        margin-bottom: var(--size-16);
    }
    &__search{
        width: 80%;
    }
}
.content {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--size-20);
    background: var(--color-grey);
    color: var(--color-white);
    //border-radius: var(--size-20);
    
    overflow-y: scroll;
    z-index: 9999;
    position: fixed;
    bottom: 0px;
    &__film{
        width: 100%;
        height: auto;
        background: var(--color-white);
        color: var(--color-marine);
        border-radius: var(--size-10);
        display: flex;
        flex-direction: row;
        padding: var(--size-16);
        margin: var(--size-10);
        position: relative;
        z-index: 999999;
        &__img{
            flex: 1;
            margin-right: 10px;
            height: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        &__data{
            flex: 4;
            z-index: 999999;
            position: relative;
            &__title{
                font-weight: 600;
                z-index: 999999;
                background: var(--color-white);
                position: relative;
            }
            &__director{
                z-index: 999999;
                background: var(--color-white);
                position: relative;
            }
            &__episode{
                z-index: 999999;
                background: var(--color-white);
                position: relative;
                height: 50px;
            }
            &__crawl{
                z-index: 99999;
                font-size: var(--size-12);
                height: auto;
                position: relative;
                overflow: hidden;
                text-align: center;
                
                &__text{
                    position: relative;
                    animation: crawl 18s infinite;
                }
            }
            &__btn{
                z-index: 999999;
                position: absolute;
                top: 40px;
                right: 0px;
                background: var(--color-red);
                color: var(--color-white);
                display:flex;
                justify-content: center;
                align-items: center;
                padding: var(--size-10);
                border-radius: var(--size-10);
            }
        }
    }
}

@media (max-width: 411px) {
    .content {
        &__film{
            flex-direction: column;
        }
    }
}





