<div class="header">
    <div class="header__title">
        {{translate.translate("TITLE")}}
    </div>
    <div class="header__search">
        <input type="search" name="search" placeholder="{{translate.translate('SEARCH')}}" #search
            (keyup)="searchFilm(search.value)">
    </div>
</div>
<div class="content" *ngIf="films.length > 0">
    <app-film [film]="film"  *ngFor="let film of films"></app-film>
</div>
 
<div class="content" id="filmsNone" *ngIf="films.length == 0">
    {{translate.translate("NOFOUND")}}
</div>