
.header{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size-20);
    color: var(--color-white);
    &__title{
        width: 80%;
        margin-bottom: var(--size-16);
    }
    &__search {
        display: flex;
        > input {
            margin: 0px 16px;
            flex: auto;
        }

        @media screen and (max-width: 411px) {
            flex-wrap: wrap;
            justify-content: center;
            > input {
                width: 48%;
                margin: 2px 2px;
            }
        }
    }
}
.content {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--size-20);
    background: var(--color-grey);
    color: var(--color-white);
    overflow-y: scroll;
    z-index: 9999;
    position: fixed;
    bottom: 0px;
    &__film{
        width: 100%;
        height: 250px;
        background: var(--color-white);
        color: var(--color-marine);
        border-radius: var(--size-10);
        display: flex;
        flex-direction: column;
        padding: var(--size-16);
        margin: var(--size-10);
        position: relative;
        z-index: 999999;
        &__img{
            width: 100%;
            height: 10%;
            text-align: center;
        }
        &__data{
            width: 100%;
            height: 90%;
        }
    }
}

@media (max-width: 411px) {
    .content {
        &__film{
            flex-direction: column;
        }
    }
}





