/* You can add global styles to this file, and also import other style files */
:root {
    //Colors
    --color-white: #ffffff;
    --color-grey: #2c3948;
    --color-marine: #5c9fd2;
    //Sizes
    --size-10: 10px;
    --size-12: 12px;
    --size-16: 16px;
    --size-18: 18px;
    --size-20: 20px;
    --size-40: 40px;
}

html, 
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--color-marine);
    font-family: 'Montserrat', sans-serif;
    
}

input:not([type="button"]):not([type="submit"]):not([type="checkbox"]) {
	height: 35px;
	width: 100%;
	border: 0px;
	border: 1px solid #a3a3a3;
	padding-left: 10px;
	padding-right: 10px;
    color: black;
    border-radius: 20px;
    background: rgba($color: #ffffff, $alpha: 0.5);
    color: white;
}

input[type="checkbox"] {
	width: 50px;
	height: 35px;
}

.inputInvalid {
	border: 1px solid red !important;
}

textarea {
	width: 100%;
	border: 0px;
	border: 1px solid #a3a3a3;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Roboto Condensed", sans-serif;
  color: black;
  margin-bottom: 10px;
}

select {
	width: 100%;
	border: 0px;
	height: 35px;
	border: 1px solid #a3a3a3;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Roboto Condensed", sans-serif;
    color: black;
    margin-bottom: 10px;
}

@keyframes crawl {
    0% {
    top: 50px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -190px;
    transform: rotateX(25deg) translateZ(-60px);
  }
}

$breakpoint-phones: 411px;
@media (max-width: $breakpoint-phones) {
 
    @keyframes crawl {
        0% {
        top: 50px;
        transform: rotateX(20deg)  translateZ(0);
      }
        100% { 
        top: -270px;
        transform: rotateX(25deg) translateZ(-60px);
      }
    }
}